body{
   background-image:url("images/heart.jpg") ;
}
.sparkles{
position:absolute;
width:200px;
margin-left:-10%;
margin-top:-4%;
}


.button{
color:rgb(255, 0, 238);
font-size:50px;
margin-left:50px;
margin-bottom:50px;

}

h1{
display:flex;
text-align:center;
justify-content:center;
font-size: 45px;
font-style: italic; 
font-weight: 5px;
text-decoration: underline;
color: white;
}

h2{
left:30%;
top:5%;
position:fixed;
text-align:center;
justify-content:center;
color:hotpink;
background:rgba(128, 128, 128, 0.256);
font-size:30px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifs;
}


p{
text-align:center;
color:rgb(247, 224, 22);
font-size:40px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifs;
margin-top:1%
}

h3{
position:absolute;
text-align:center;
width:250px;
color:rgb(255, 3, 209);
font-size:20px;
font-family:monospace;
margin-top:22%;
}


.wrapper{
display:flex;
width:100%;
height:50%;

}

.wrapper2{
width:100%;
height:100%;
border: double;
color:rgb(255, 0, 230);
}


.container{
display:flex;
margin-left:3%;
justify-content:center;
background-color:rgb(194, 192, 192);
border:double;
border-width: 7px;
width: 20%;
height: 90%;
}

.container2{
display:inline-block;
margin-left:3%;
justify-content:center;
border:solid;
background-color:rgb(194, 192, 192);
border:double;
border-width: 5px;
width: 70%;
height: 120%;
}

.container3{
display:flex;
margin-top:10%;
justify-content:center;
background-color:rgb(194, 192, 192);
border:double;
border-width: 7px;
width: 20%;
height: 100%;
}

.container4{
display:flex;
margin-top:10%;
margin-left:20px;
justify-content:center;
background-color:rgb(194, 192, 192);
border:double;
border-width: 7px;
width: 20%;
height: 100%;
}

.destinys{
width: 75%;
height:90%;
margin-top:7%;

}

 .runway{
width: 75%;
height:70%;
margin-top:20%;
 }

.girls{
width: 80%;
height:80%;
margin-top:1%;
margin-left:10%;
}

.bratz{
width:200px;
height:300px;
margin-top:-5%;
right:50px;
position:absolute;
}
.jlo{
width: 200px;
height:300px;
margin-left:-5%;
margin-top:-5%;
}

.y2k{
margin-top:30px;
margin-left:10px;
width: 300px;
height:350px;
}

.rose{
position:absolute;
width:200px;
margin-left:47%;
margin-top:3%;
}

.britney{
position:absolute;
width:200px;
height:400px;
margin-left:23%;
margin-top:15%;
}

.mariah{
position:absolute;
width:200px;
height:400px;
margin-left:55%;
margin-top:40%;
}

.nokias{
position:absolute;
width:200px;
height:300px;
margin-left:20%;
margin-top:-20%;
}