*{font-family:'Playfair display';
}

body{
background-image:url("images/red-stars.jpg") ;
padding: 120px;
background-size:cover;
}
/* Title */
.star{
   position:absolute;
   right:400px;
   top:150px;
}

header{ 
position:absolute;
text-align:center;
font-size: 120px;
font-style: italic; 
font-weight: 5px;
text-decoration: underline;
color: white;
top:300px;
right:350px
} 
/*Container for webpage layout*/
.container{
display:flex;
width:1500px;
height:2000px;

}

.container2{
position:absolute;
display:flex;
margin-left:70%;
margin-top:100%;
width:200px;
height:300px;
border:solid;
border-width: 5px;
border-color:rgb(251, 236, 80);
}

/*Page 1 elements*/
.page1{
display:flex;
position:relative;
right:20px;
width:700px;
top: 500px;
left:750px;
height:1000px;
text-align: right;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
font-size: 28px;
} 

.spicegirls{
display:flex;
position:relative;
width: 700px;
height:1000px;
}

.y2k{
position:absolute;
height:300px;
width:200px;
}


/*Page 2 elements*/
.page2{
display:flex;
position:absolute;
flex-basis:auto;
padding: 5px;
width:700px;
height:1000px;
}


h1{ 
position: absolute;
top: 15px;
text-align: left;
margin-right:10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
font-size: 28px;
color:yellow;
}

h2{
position: absolute;
top: 525px;
right:1px;
width:200px;
text-align:right;
margin-right:10px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifs;
font-size: 20px;
color:yellow;
background:rgba(0, 0, 0, 0.366);
}
h6{
position: absolute;
top:-100px;
left:10px;
width:400px;
text-align:left;
margin-right:10px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifs;
font-size: 50px;
color:yellow;
background:rgba(0, 0, 0, 0.366);
}




.image1{
width: 700px;
height:1000px;
right:800px
}
.overlay{
position: absolute; 
left:20px;
top:600px;
width: 300px;
height: 400px;
}

.overlay2{
position: absolute; 
left:500px;
top:720px;
width: 215px;
height: 280px;
}

.text-overlay{
position:absolute;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style:bold;
color:yellow;
background:rgba(14, 13, 13, 0.138);
font-size:20px;
right:15px;
text-align:right;
top:250px;
}

.text-overlay2{
position:absolute;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style:bold;
color:yellow;
background:rgba(14, 13, 13, 0.138);
font-size:20px;
right:15px;
text-align:right;
bottom:250px;
}

.text3{
position:absolute;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style:bold;
color:yellow;
background:rgba(14, 13, 13, 0.138);
font-size:20px;
left:15px;
text-align:leftt;
top:150px

}


/*Page 3*/
h4{
position: absolute;
display:flex;
top: 1140px;
width:600px;
left:200px;
text-align: center;
margin-right:10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
font-size: 26px;
color:yellow;
background:rgba(0, 0, 0, 0.212);

}

.james{
position:absolute;
width: 720px;
height:1050px;
left:140px;
top:125%;
}

.shock{
position:absolute;
width: 300px;
height:500px;
left:645px;
top:183%;  
}

.cancelled{
position:absolute;
width: 200px;
height:200px;
left:400px;
top:183%;
border:solid;
border-radius:100px;
border-color:yellow;
}
.j{
position:absolute;
width: 200px;
height:200px;
left:250px;
top:140%;
border:solid;
border-radius:100px;
border-color:yellow;
}

.jk{
position:absolute;
width: 200px;
height:200px;
left:700px;
top:160%;
border:solid;
border-radius:100px;
border-color:yellow;
}

.jam{
position:absolute;
width: 200px;
height:200px;
left:200px;
top:210%;
border:solid;
border-radius:100px;
border-color:yellow;
}

h3{
position:absolute;
color:rgb(255, 0, 0);
background-color: rgba(0, 0, 0, 0.262);
top:135%;
left:30%;
font-size:40px;
rotate:10deg;
}

h5{
position:absolute;
color:rgb(255, 0, 0);
background-color: rgba(0, 0, 0, 0.262);
top:200%;
left:30%;
font-size:40px;
rotate:-20deg;
}

h7{
position:absolute;
color:rgb(255, 0, 0);
background-color: rgba(0, 0, 0, 0.262);
top:170%;
left:10%;
font-size: 40px;
rotate:-20deg;
}

h8{
position:absolute;
color:rgb(255, 0, 0);
background-color: rgba(0, 0, 0, 0.262);
top:200%;
left:20%;
font-size: 40px;
rotate:-20deg;
}
/*background image*/
